<div class="bg-pink-50 grid place-items-center h-screen text-slate-500 text-mono">

    <div class="grid grid-cols-1 bg-emerald-200 border border-slate-500 rounded-xl p-4 w-full max-w-lg shadow-lg shadow-slate-400">

    <h1 class="m-2 text-xl font-semibold">Genergator 🐊</h1>
        <div class="border bg-emerald-100 border-slate-500 rounded-xl m-2 p-2">
            <p class="m-2 p-2 font-semibold">Press the <i>Generate</i> button to create a new password</p>

            <app-main-generator></app-main-generator>
        </div>



    </div>

</div>
